<div id="not_found">
  <h3 class="title">{{ settings.tr_page_missing }}</h3>
  <div class="empty c">
    <h2>{{ settings.tr_page_not_found }} <sup class="grey">404</sup></h2>
  </div>
</div> <!-- /#not_found -->