<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section type="Facebook.FacebookConfigurationSection, Facebook" name="facebookSettings" allowLocation="true" allowDefinition="Everywhere" />
    <section name="tradelr" type="tradelr.Libraries.tradelrSettings" />
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
    <sectionGroup name="elmah">
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
    <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" /></sectionGroup>
    <sectionGroup name="fiftyOne">
      <section name="wurfl" type="FiftyOne.Foundation.Mobile.Detection.Wurfl.Configuration.WurflSection, FiftyOne.Foundation" requirePermission="false" allowDefinition="Everywhere" restartOnExternalChanges="false" allowExeDefinition="MachineToApplication" />
    </sectionGroup>
  </configSections>
  <facebookSettings appId="appId" appSecret="appId" />
  <tradelr>
    <add key="enable_facebookConnect" value="true" />
    <add key="enable_googleFriendConnect" value="false" />
    <add key="fb_api_key" value="fb_api_key" />
    <add key="fb_api_secret" value="fb_api_secret" />
    <add key="fb_api_session_key" value="fb_api_session_key" />
    <add key="fb_api_session_userid" value="fb_api_session_userid" />
    <add key="gfc_key" value="gfc_key" />
  </tradelr>
  <elmah>
    <security allowRemoteAccess="yes" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="tradelrConnectionString" applicationName="tradelr" />
  </elmah>
  <fiftyOne>
    <wurfl wurflFilePath="~/App_Data/wurfl.xml.gz" useActualDeviceRoot="false">
      <wurflPatches>
        <add name="browser_definitions" filePath="~/App_Data/web_browsers_patch.xml" enabled="true" />
      </wurflPatches>
      <capabilitiesWhiteList>
        <add capabilityName="pointing_method" />
      </capabilitiesWhiteList>
    </wurfl>
  </fiftyOne>
  <!-- PayPal SDK settings -->
  <paypal>
    <settings>
      <add name="mode" value="sandbox" />

      <!-- REST API credentials -->
      <add name="clientId" value="_client_Id_" />
      <add name="clientSecret" value="_client_secret_" />

      <!-- Classic API credentials -->
      <add name="account1.apiUsername" value="_api_username_" />
      <add name="account1.apiPassword" value="_api_password_" />
    </settings>
  </paypal>
  <appSettings><add key="elmah.mvc.disableHandler" value="false" /><add key="elmah.mvc.disableHandleErrorFilter" value="false" /><add key="elmah.mvc.requiresAuthentication" value="false" /><add key="elmah.mvc.IgnoreDefaultRoute" value="false" /><add key="elmah.mvc.allowedRoles" value="*" /><add key="elmah.mvc.allowedUsers" value="*" /><add key="elmah.mvc.route" value="elmah" /><add key="elmah.mvc.UserAuthCaseSensitive" value="true" /></appSettings>
  <connectionStrings>
    <add name="tradelrConnectionString" connectionString="Data Source=(local);Database=tradelr;User ID=;Password=;Trusted_Connection=False;" providerName="System.Data.SqlClient" />
    <add name="tradelrConnectionStringgg" connectionString="Server=tcp:b7mnq5sdiz.database.windows.net;Database=tradelr;User ID=;Password=;Trusted_Connection=False;Encrypt=True" providerName="System.Data.SqlClient" />
    <add name="tradelrConnectionStringed" connectionString="Server=SQL400.mysite4now.com;Database=tradelr_16348;User ID=;Password=;Trusted_Connection=False;" providerName="System.Data.SqlClient" />
    <add name="tradelr_16348ConnectionString" connectionString="Data Source=SQL400.mysite4now.com;Initial Catalog=tradelr_16348;Persist Security Info=True;User ID=;Password=" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <sessionState mode="InProc" sqlConnectionString="Data Source=PRECIOUS;Integrated Security=SSPI" cookieless="false" timeout="5" />
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
    -->
    <authentication mode="None" />
    <membership>
      <providers>
        <clear />
      </providers>
    </membership>
    <profile enabled="false" />
    <roleManager enabled="false" />
    <customErrors defaultRedirect="/error" mode="On">
      <error statusCode="404" redirect="/error/notfound" />
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
      <add verb="POST,GET,HEAD" path="sean_errors.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </httpHandlers>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
    <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" /><add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" /></httpModules>
    <httpRuntime maxRequestLength="10240" executionTimeout="600" requestValidationMode="2.0" />
    <identity impersonate="false" />
  </system.web>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false" />
    </settings>
  </system.net>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1024000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ErrorLog" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" /></modules>
    <handlers>
      <remove name="MvcHttpHandler" />
      <remove name="UrlRoutingHandler" />
      <remove name="Elmah" />
      <add name="Elmah" verb="POST,GET,HEAD" path="sean_errors.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
    </handlers>
    <staticContent>
      <remove fileExtension=".manifest" />
      <mimeMap fileExtension=".manifest" mimeType="text/cache-manifest" />
      <!--mimeMap fileExtension=".woff" mimeType="application/x-woff"/ -->
      <clientCache cacheControlMode="UseExpires" cacheControlMaxAge="7.00:00:00" httpExpires="Thu, 01 Jan 2015 00:00:00 GMT" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <caching>
      <profiles>
        <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" />
        <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" />
        <add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" />
      </profiles>
    </caching>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <security>
      <requestFiltering>
        <denyUrlSequences>
          <add sequence="AdManager.aspx" />
          <add sequence="/announce" />
          <add sequence="/scrape" />
        </denyUrlSequences>
      </requestFiltering>
    </security>
        <rewrite>
            <rules>
                <rule name="RequestBlockingRule1" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <conditions>
                        <add input="{URL}" pattern="/images/*" />
                    </conditions>
                    <action type="Rewrite" url="/Content/img/poweredby.png" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.1" newVersion="3.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>