/* @group Global */

body {
	color: #262626;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: center;
	background-color: #fff;
}

div.container {
	text-align: left;
	width: 960px;
	min-width: 960px;
	margin: 0 auto;
}

div#main, div#sidebar {
	width: 740px;
	padding: 25px 0 30px;
	float: left;
	border-top: 5px solid #bed9ee;
}

div#sidebar {
	width: 180px;
	padding-bottom: 45px;
	float: right;
}

.clear {
	display: inline-block;
}

.clear {
	display: block;
}

.clear:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

a {
	color: #11234e;
	text-decoration: underline;
}

a:hover {
	color: #65c12c;
}

/* @end */

/* @group Header */

div#header {
	padding-bottom: 25px;
}

div#navigate {
	width: 740px;
	float: left;
}

div#navigate h3, div#missing h1 {
	font-size: 28px;
	font-weight: normal;
	width: 180px;
	float: left;
}

div#missing h1 {
	float: none;
}

div#navigate h3 a, div#missing h1 a {
	color: #fff;
	font-style: italic;
	text-decoration: none;
	text-align: center;
	background-color: #0e74be;
	padding: 40px 10px;
	display: block;
}

div#logo {
	width: 180px;
	float: left;
}

div#logo img {
	float: left;
}

div#nav {
	width: 540px;
	padding-top: 47px;
	float: right;
}

div#nav ul {
	float: right;
}

div#nav li {
	font-size: 24px;
	font-style: italic;
	padding-bottom: 10px;
	display: inline;
	float: left;
}

div#nav li a {
	color: #0e74be;
	text-decoration: none;
	padding: 8px 25px;
	border-right: 1px solid #0e74be;
	float: left;
}

div#nav li a:hover {
	color: #11234e;
}

div#nav li a.active, div#nav li a.active:hover {
	color: #65c12c;
}

div#nav li.end a {
	border-right: none;
}

div#items {
	width: 180px;
	padding: 10px 0 0;
	float: right;
}

div#items h2 {
	color: #11234e;
	font-size: 60px;
	font-weight: normal;
	font-style: italic;
	text-align: right;
	background: url(cart.png) no-repeat 85px 15px;
	padding: 0 105px 2px 0;
}

div#items p {
	color: #0e74be;
	font-size: 13px;
	font-style: italic;
	text-align: center;
}

div#items p a {
	color: #65c12c;
}

div#items p a:hover {
	color: #11234e;
}

/* @end */

/* @group Index */

div#showcase {
	padding-bottom: 15px;
}

div#showcase div#details {
	width: 220px;
	float: left;
}

div#showcase h3, div#showcase h4 {
	color: #11234e;
	font-size: 28px;
	font-style: italic;
	line-height: 1.32em;
}

div#showcase h4 {
	color: #0e74be;
	font-weight: normal;
	padding: 2px 0 18px;
}

div#showcase h5 {
	font-size: 22px;
	font-weight: normal;
	font-style: italic;
	padding-top: 8px;
}

div#showcase h5 a {
	color: #fff;
	background-color: #0e74be;
	padding: 10px 25px;
	float: left;
}

div#showcase h5 a:hover {
	background-color: #11234e;
}

div#showcase p, div#excerpt p, div#overview p, div#page div#main p, div.entry p, div.comment p {
	font-size: 13px;
	line-height: 1.52em;
	padding-bottom: 15px;
}

div#showcase div#retweet {
	padding-top: 25px;
}

div#showcase div#image {
	width: 480px;
	float: right;
}

div#showcase div#image img {
	float: left;
}

div#excerpt {
	padding: 10px 0 15px;
}

div#excerpt div, div#collection div#excerpt, div#search div#excerpt {
	background: #bed9ee url(excerpt.png) no-repeat 0 bottom;
	padding: 25px 25px 31px;
}

div#excerpt h1, div#excerpt h2, div#excerpt h3, div#excerpt h4, div#excerpt h5, div#excerpt h6, div#overview h1, div#overview h2, div#overview h3, div#overview h4, div#overview h5, div#overview h6, div#page div#main h1, div#page div#main h2, div#page div#main h3, div#page div#main h4, div#page div#main h5, div#page div#main h6, div.entry h1, div.entry h2, div.entry h3, div.entry h4, div.entry h5, div.entry h6, div.comment h1, div.comment h2, div.comment h3, div.comment h4, div.comment h5, div.comment h6, div#collections-listing h2 {
	color: #11234e;
	font-size: 22px;
	font-style: italic;
	line-height: 1.42em;
	padding: 10px 0;
}

div#excerpt h1 {
	padding-top: 0;
}

div#page div#main h1.title, div#collections-listing h2 {
	font-size: 28px;
	padding: 0 0 15px;
}

div.comment h1, div.comment h2, div.comment h3, div.comment h4, div.comment h5, div.comment h6 {
	padding-top: 0;
}

div#excerpt ul, div#excerpt ol, div#overview ul, div#overview ol, div#page div#main ul, div#page div#main ol, div.entry ul, div.entry ol, div.comment ul, div.comment ol {
	padding-bottom: 10px;
}

div#excerpt li, div#overview li, div#page div#main li, div.entry li, div.comment li {
	font-size: 13px;
	line-height: 1.52em;
	margin-left: 35px;
	padding-bottom: 5px;
	list-style-type: disc;
	list-style-position: outside;
}

div#excerpt ol li, div#overview ol li, div#page div#main ol li, div.entry ol li, div.comment ol li {
	list-style-type: decimal;
}

/* @end */

/* @group Collection & Search */

div#collections-listing ul {
	padding-bottom: 10px;
}

div#collections-listing li {
	font-size: 16px;
	padding-bottom: 5px;
}

div#collections-listing li small {
	font-size: 13px;
	padding-left: 3px;
}

div#collections-listing li a {
	color: #65c12c;
}

div#collections-listing li a:hover {
	color: #11234e;
}

ul#products, ul#results {
	padding: 10px 0 5px;
}

div#index ul#products {
	padding-top: 0;
}

ul#products li, ul#results li {
	width: 240px;
	padding: 10px 10px 10px 0;
	float: left;
}

ul#products li.end, ul#results li.end {
	padding-right: 0;
}

ul#products li div.image, ul#results li div.image, ul#results li div.desc {
	background-color: #bed9ee;
	padding: 3px;
}

ul#products li div.image div.overflow, ul#results li div.image div.overflow {
	width: 234px;
	height: 234px;
	overflow: hidden;
}

ul#products li div.image div.align, ul#results li div.image div.align {
	background-color: #fff;
	height: 234px;
	position: relative;
}

ul#products li div.image div.align div div, ul#results li div.image div.align div div {
	font-size: 212px;
	text-align: center;
	vertical-align: middle;
	width: 234px;
	height: 234px;
	overflow: hidden;
	display: table-cell;
}

ul#products li div.image div.align div img, ul#results li div.image div.align div img {
	vertical-align: middle;
}

ul#products li div.image div.align h6, ul#results li div.image div.align h6 {
	color: #fff;
	font-size: 18px;
	font-weight: normal;
	font-style: italic;
	background-color: #65c12c;
	padding: 4px 8px;
	left: 0;
	bottom: 0;
	position: absolute;
}

ul#products li p, ul#results li p {
	font-size: 16px;
	font-style: italic;
	text-align: center;
	line-height: 1.52em;
	padding-top: 8px;
}

ul#results li div.desc div.bg {
	background-color: #fff;
	width: 234px;
	height: 234px;
	overflow: hidden;
}

ul#results li div.desc p {
	font-size: 13px;
	font-style: normal;
	text-align: left;
	padding: 20px;
}

div#collection div#main p#empty {
	font-size: 16px;
	font-style: italic;
	padding: 10px 0 15px;
}

div#search div#main h1 {
	color: #11234e;
	font-size: 28px;
	font-style: italic;
	padding: 0 0 10px;
}

div#search div#excerpt h1 {
	font-size: 22px;
}

div#search div#main p#empty {
	font-size: 13px;
	padding-bottom: 15px;
}

div#paginate {
	padding-top: 10px;
}

div#paginate div {
	font-size: 16px;
	font-style: italic;
	text-align: center;
	padding: 15px 0;
	border-top: 1px solid #bed9ee;
}

div#paginate a {
	color: #0e74be;
	padding: 0 3px;
}

div#paginate a:hover {
	color: #11234e;
}

div#paginate span.current {
	color: #65c12c;
	font-weight: bold;
	padding: 0 3px;
}

/* @end */

/* @group Product */

div#overview {
	padding-bottom: 15px;
}

div#overview h1#title {
	color: #11234e;
	font-size: 28px;
	font-style: italic;
	line-height: 1.32em;
	padding: 0;
}

div#overview h2#price {
	color: #0e74be;
	font-weight: normal;
	font-style: italic;
	padding: 6px 0 18px;
}

div#overview h2 del {
	font-size: 14px;
	padding-left: 3px;
}

div#overview p#image {
	padding: 0;
}

div#overview p#image img {
	float: right;
	padding: 0 0 15px 30px;
}

div#variants {
	padding-top: 5px;
}

div#variants label {
	color: #0e74be;
	font-size: 13px;
	display: block;
}

div#variants select {
	margin: 3px 0 15px;
}

div#buy {
	width: 220px;
	padding: 15px 0 30px;
}

div#buy input {
	color: #fff;
	font: italic 22px Georgia, "Times New Roman", Times, serif;
	text-align: center;
	text-decoration: underline;
	background-color: #0e74be;
	width: 155px;
	margin: 0;
	padding: 10px;
	cursor: pointer;
	border: none;
	float: left;
}

div#buy input:hover {
	background-color: #11234e;
}

div#overview div#buy h6 {
	color: #0e74be;
	font-size: 28px;
	font-weight: normal;
	font-style: italic;
	width: 155px;
	padding: 0;
	float: left;
}

div#buy div#retweet {
	width: 50px;
	margin-top: -8px;
	float: right;
}

div#overview p#continue {
	font-size: 13px;
}

div#overview p#continue a {
	color: #65c12c;
}

div#overview p#continue a:hover {
	color: #11234e;
}

div#images {
	padding: 15px 0;
}

div#images div {
	text-align: center;
	background: #bed9ee url(excerpt.png) no-repeat 0 bottom;
	padding: 20px 20px 35px;
}

div#images h6 {
	color: #11234e;
	font-size: 16px;
	font-weight: normal;
	font-style: italic;
	padding-bottom: 8px;
}

div#images img {
	background-color: #fff;
	margin: 7px;
	padding: 3px;
}

div#related {
	padding-top: 15px;
}

div#related h4 {
	color: #0e74be;
	font-size: 16px;
	font-weight: normal;
	font-style: italic;
	text-align: center;
	padding: 8px 0;
	border-top: 5px solid #bed9ee;
	border-bottom: 1px solid #bed9ee;
}

div#related ul {
	padding-top: 15px;
}

/* @end */

/* @group Slimbox */

#lbOverlay {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	cursor: pointer;
}

#lbCenter, #lbBottomContainer {
	position: absolute;
	z-index: 9999;
	overflow: hidden;
	background-color: #fff;
}

.lbLoading {
	background: #fff url(loading.gif) no-repeat center;
}

#lbImage {
	position: absolute;
	left: 0;
	top: 0;
	border: 10px solid #fff;
	background-repeat: no-repeat;
}

#lbPrevLink, #lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	outline: none;
}

#lbPrevLink {
	left: 0;
}

#lbPrevLink:hover {
	background: transparent url(prevlabel.gif) no-repeat 0 15%;
}

#lbNextLink {
	right: 0;
}

#lbNextLink:hover {
	background: transparent url(nextlabel.gif) no-repeat 100% 15%;
}

#lbBottom {
	font-size: 13px;
	color: #666;
	line-height: 1.52em;
	text-align: left;
	border: 10px solid #fff;
	border-top-style: none;
}

#lbCloseLink {
	display: block;
	float: right;
	width: 66px;
	height: 22px;
	background: transparent url(closelabel.gif) no-repeat center;
	margin: 5px 0;
	outline: none;
}

#lbCaption, #lbNumber {
	margin-right: 71px;
}

#lbNumber {
	padding-top: 8px;
}

#lbCaption {
	font-weight: bold;
}

/* @end */

/* @group Cart */

div#cart div#content {
	padding-bottom: 45px;
}

div#cart div#title h1 {
	color: #11234e;
	font-size: 28px;
	font-style: italic;
	width: 740px;
	padding: 25px 0;
	border-top: 5px solid #bed9ee;
	float: left;
}

div#cart div#title h2 {
	font-size: 28px;
	width: 180px;
	padding: 25px 0;
	border-top: 5px solid #bed9ee;
	float: right;
}

div#cart div#title h2 span {
	visibility: hidden;
}

div#cart div#content p#empty {
	font-size: 16px;
	font-style: italic;
}

div#cart div#content table {
	width: 100%;
}

div#cart div#content th {
	color: #11234e;
	font-size: 13px;
	font-weight: normal;
	font-style: italic;
	text-align: center;
	padding: 0 10px 10px;
}

div#cart div#content th.start {
	text-align: left;
	padding-left: 0;
}

div#cart div#content td {
	font-size: 13px;
	vertical-align: middle;
	padding: 20px 15px;
	border-bottom: 1px solid #bed9ee;
}

div#cart div#content tr.odd td {
	background-color: #bed9ee;
	border-bottom: none;
}

div#cart div#content td.pic {
	width: 54px;
}

div#cart div#content td.pic div {
	text-align: center;
	background-color: #fff;
	width: 50px;
	height: 50px;
	overflow: hidden;
	border: 2px solid #bed9ee;
}

div#cart div#content tr.odd td.pic div {
	border: 2px solid #fff;
}

div#cart div#content td h3 {
	font-size: 14px;
}

div#cart div#content td p {
	line-height: 1.52em;
	padding-top: 2px;
}

div#cart div#content td input {
	font: 13px Georgia, "Times New Roman", Times, serif;
	text-align: center;
	width: 45px;
	padding: 3px;
}

div#cart div#content td.remove a {
	color: #fff;
	background-color: #65c12c;
	padding: 2px 6px 3px;
}

div#cart div#content td.remove a:hover {
	background-color: #11234e;
}

div#cart div#total {
	padding: 15px 0;
	border-bottom: 1px solid #bed9ee;
}

div#cart div#continue {
	width: 500px;
	padding-top: 8px;
	float: left;
}

div#cart div#continue p {
	font-size: 13px;
	line-height: 1.52em;
}

div#cart div#continue p a {
	color: #65c12c;
}

div#cart div#continue p a:hover {
	color: #11234e;
}

div#cart div#price {
	width: 420px;
	float: right;
}

div#cart div#price h3 {
	color: #0e74be;
	font-size: 28px;
	font-style: italic;
	text-align: right;
	padding-right: 10px;
}

div#cart div#complete {
	padding-top: 25px;
}

div#cart div#notes {
	width: 600px;
	float: left;
}

div#cart div#notes label {
	color: #11234e;
	font-size: 13px;
	font-style: italic;
	display: block;
}

div#cart div#notes textarea {
	margin-top: 4px;
	width: 500px;
	height: 100px;
	padding: 3px;
}

div#cart div#checkout {
	color: #0e74be;
	font-size: 22px;
	font-style: italic;
	text-align: right;
	width: 300px;
	padding-top: 15px;
	float: right;
}

div#cart div#checkout input.update {
	color: #11234e;
	font: italic 22px Georgia, "Times New Roman", Times, serif;
	text-align: center;
	text-decoration: underline;
	background-color: #fff;
	width: 95px;
	margin: 0;
	padding: 10px 5px;
	cursor: pointer;
	border: none;
}

div#cart div#checkout input.update:hover {
	color: #0e74be;
}

div#cart div#checkout input.checkout {
	color: #fff;
	font: italic 22px Georgia, "Times New Roman", Times, serif;
	text-align: center;
	text-decoration: underline;
	background-color: #0e74be;
	width: 150px;
	margin: 0 0 0 10px;
	padding: 10px;
	cursor: pointer;
	border: none;
}

div#cart div#checkout input.checkout:hover {
	background-color: #11234e;
}

/* @end */

/* @group Blog & Page */

div.entry {
	padding: 25px 0;
	border-bottom: 1px solid #bed9ee;
	position: relative;
}

div#article div#main div.entry {
	padding: 0;
	border-bottom: none;
}

div#blog div#main div.start {
	padding-top: 0;
}

div#blog div#main div.end {
	padding-bottom: 15px;
	border-bottom: none;
}

div.entry div.retweet {
	width: 50px;
	top: 17px;
	right: 0;
	position: absolute;
}

div#blog div#main div.start div.retweet, div#article div#main div.entry div.retweet {
	top: -8px;
}

div.entry h2.title {
	margin-right: 70px;
	padding: 0;
}

div.entry h5.posted, div.entry h6.comments {
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	margin-right: 70px;
}

div.entry h5.posted {
	padding: 8px 0 20px;
}

div.entry h5.posted span {
	background-color: #bed9ee;
}

div.entry h6.comments {
	padding: 5px 0 0;
}

div#comments h3 {
	font-size: 22px;
	font-style: italic;
	padding: 30px 0 10px;
}

div#comments h3 span {
	color: #0e74be;
	font-size: 13px;
	font-weight: normal;
}

div.comment {
	padding: 3px 0 17px;
}

div#comments div.end {
	padding-bottom: 0;
}

div.comment div {
	background: #bed9ee url(excerpt.png) no-repeat 0 bottom;
	padding: 20px 25px 28px;
}

div.comment h6.author {
	font-size: 13px;
	text-align: right;
	padding: 6px 40px 0;
}

div#comments form label {
	color: #0e74be;
	font-size: 13px;
	display: block;
}

div#comments form label span {
	font-weight: normal;
	padding-left: 2px;
}

div#comments form input.field, div#comments form textarea {
	width: 400px;
	margin: 3px 0 15px;
	padding: 3px;
}

div#comments form textarea {
	width: 500px;
	height: 150px;
}

div#comments form input.submit {
	color: #fff;
	font: italic 22px Georgia, "Times New Roman", Times, serif;
	text-align: center;
	text-decoration: underline;
	background-color: #0e74be;
	width: 200px;
	margin: 5px 0 15px;
	padding: 10px;
	cursor: pointer;
	border: none;
}

div#comments form input.submit:hover {
	background-color: #11234e;
}

div#comments p#posted, div#comments p#error {
	color: #65c12c;
	font-size: 13px;
	font-weight: bold;
	padding: 5px 0 15px;
}

div#comments p#empty {
	font-size: 13px;
}

div#article div#main p#closed {
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	padding: 25px 0 15px;
}

div#page div#main p a, div#page div#main li a, div.entry h6.comments a, div.entry p a, div.entry li a {
	color: #65c12c;
}

div#page div#main p a:hover, div#page div#main li a:hover, div.entry h6.comments a:hover, div.entry p a:hover, div.entry li a:hover {
	color: #11234e;
}

div#missing div {
	padding: 100px 110px 10px;
}

div#missing h2 {
	color: #11234e;
	font-size: 60px;
	font-weight: normal;
	font-style: italic;
	text-align: center;
	background: #bed9ee url(excerpt.png) no-repeat 0 bottom;
	padding: 25px 25px 48px;
}

div#missing h3 {
	color: #0e74be;
	font-size: 22px;
	font-weight: normal;
	font-style: italic;
	text-align: center;
	padding-bottom: 100px;
}

div#missing h3 a {
	color: #65c12c;
}

div#missing h3 a:hover {
	color: #11234e;
}

/* @end */

/* @group Sidebar */

div#finder input.field {
	color: #0e74be;
	font: italic 13px Georgia, "Times New Roman", Times, serif;
	width: 109px;
	padding: 5px;
	border-top: 1px solid #0e74be;
	border-right: none;
	border-bottom: 1px solid #0e74be;
	border-left: 1px solid #0e74be;
	float: left;
}

div#finder input.submit {
	color: #fff;
	font: 13px Georgia, "Times New Roman", Times, serif;
	text-align: center;
	text-decoration: none;
	background-color: #11234e;
	width: 60px;
	margin: 0;
	padding: 6px 5px;
	cursor: pointer;
	border: none;
	float: left;
}

div#finder input.submit:hover {
	background-color: #0e74be;
}

div.section {
	padding: 25px 0 15px;
}

div.section div.title {
	background: #0e74be url(sidebar.png) no-repeat 0 bottom;
	padding-bottom: 11px;
}

div.section div.title h4 {
	color: #fff;
	font-size: 18px;
	font-weight: normal;
	font-style: italic;
	padding: 10px 15px;
}

div#collections div.title h4 {
	background: url(heart.png) no-repeat 146px center;
}

div#entries div.title h4 {
	background: url(bubble.png) no-repeat 145px center;
}

div#tags div.title h4 {
	background: url(tag.png) no-repeat 146px center;
}

div#twitter div.title h4 {
	background: url(check.png) no-repeat 147px center;
}

div.section ul {
	padding-top: 5px;
}

div#tags ul {
	padding-top: 10px;
}

div.section li {
	font-size: 16px;
	line-height: 1.52em;
	width: 180px;
}

div.section div#tweet li {
	font-size: 13px;
	padding: 10px 0 5px;
}

div#tags li {
	font-size: 13px;
	width: auto;
	padding: 0 6px 6px 0;
	display: inline;
	float: left;
}

div.section li a.active, div.section li a.active:hover {
	color: #65c12c;
	font-weight: bold;
}

div#tags li a {
	color: #11234e;
	text-decoration: none;
	line-height: 1.52em;
	background-color: #bed9ee;
	padding: 1px 5px;
	float: left;
}

div#tags li a:hover {
	text-decoration: underline;
}

div#tags li.active a, div#tags li.active a:hover {
	color: #fff;
	background-color: #65c12c;
}

div.section div.entry {
	padding: 15px 0;
	border-top: 5px solid #bed9ee;
	border-bottom: none;
}

div.section div.start, div.section div#tweet li.tweet_first {
	padding-top: 5px;
}

div.section div.start {
	border-top: none;
}

div.section div.end {
	padding-bottom: 0;
	border-bottom: none;
}

div.section div.entry h5 {
	font-size: 16px;
	line-height: 1.52em;
	padding: 0 0 10px;
}

div.section div.entry h6 {
	color: #11234e;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.52em;
	padding: 0 0 10px;
}

div.section div.entry h6 span {
	line-height: 1.52em;
	background-color: #bed9ee;
}

div.section div.entry p {
	font-size: 13px;
	line-height: 1.52em;
	padding: 0;
}

div#twitter h6 {
	font-size: 13px;
	line-height: 1.52em;
	padding: 10px 0 5px;
}

div#rss p {
	font-size: 13px;
	background: url(rss.png) no-repeat 0 25px;
	padding: 28px 0 3px 28px;
}

div#rss p a, div.section div#tweet li a {
	color: #0e74be;
}

div#rss p a:hover {
	color: #11234e;
}

div.section div#tweet li a:hover {
	color: #65c12c;
}

/* @end */

/* @group Footer */

div#footer {
	padding: 25px 0 100px;
	border-top: 1px solid #0e74be;
}

div#footer p {
	color: #0e74be;
	font-size: 13px;
	float: left;
}

div#footer p.links {
	float: right;
}

div#footer p a {
	color: #0e74be;
	text-decoration: none;
}

div#footer p a:hover {
	color: #11234e;
}

div#footer p span {
	padding: 0 4px;
}

/* @end */

/* template styles */
.action_bottom { text-align: center; border-top: 1px solid #EDEDED; padding-top: 20px; margin-top: 20px; }
.action_bottom span { vertical-align: middle; }
.action_top { padding-top: 10px; text-align: center; }
.action_link a { padding: 2px 3px; text-decoration: underline; }
.action_link a:hover { color: #000000 !important; background-color: #EEEEEE; }
.action_edit a { padding: 0; }
.action_delete a { padding: 0; }
.action_delete { border-left: 1px solid #DDDDDD; padding-left: 6px; }
.action_return a { display: inline-block; left: 0; position: absolute; }
.address { padding-top: 20px; }
.address_form { padding: 2px 0; width: 280px; }
.address_table { border-bottom: 1px dotted #DDDDDD; padding: 40px 0; }
.address_title { padding-bottom: 5px; }
.cancelled_order, .cancelled_order a { color: #BBBBBB; }
.default_address { font-style: italic; }
.even { background-color: #F6F6F6; }
.flash { color: #000000; padding: 5px 10px; margin:0 0 40px; text-align: center; }
.flash.notice { background-color: #FFFBE5; border: 1px solid #DFDBC5; }
.flash.error { background-color: #FFEFEB; border: 1px solid #F96F96; }
.group { background-color: #FAFAFA; border: 1px solid #CCCCCC; padding: 10px; }
.large_form { margin: 0 auto 20px auto; width: 790px; }
.note { color: #777777; font-size: 12px; font-weight: normal; }
.note_first { font-weight: bold; }
.order_date { padding-bottom: 10px; text-align: left; }
.order_number { width: 100px; }
.order_section_title { padding-bottom: 15px; }
.order_summary { color: #222222; }
.order_summary .label { padding: 10px 35px 10px 0; text-align: right; }
.order_summary td { border: none; }
.order_total td { border-bottom: 1px solid #CCCCCC; border-top: 1px solid #CCCCCC; font-weight: bold; }
.status_paid, .status_authorized, .status_filed, .status_pending, .status_abandoned, .status_fulfilled, .status_partial, .status_unfulfilled, .status_restocked, .status_voided, .status_refunded { font-size: 12px; padding: 1px 4px; margin: 0; 
  -moz-border-radius:     3px; 
  -webkit-border-radius:  3px; 
  border-radius:          3px; }
.status_paid, .status_authorized, .status_fulfilled { background-color: #80BD4E; color: #FFFFFF; } 
.status_filed, .status_pending, .status_unfulfilled { background-color: #EEEEEE; color: #000000; } 
.status_abandoned, .status_voided, .status_refunded, .status_restocked { background-color: #AF9C7E; color: #FFFFFF; }
.total { text-align: right; }
.value { text-align: left; }
.value, .label { vertical-align: middle; }

#add_address_title { color: #6FB305; font-weight: normal; padding: 10px 0 20px; text-align: center; }
#add_address form { background-color: #FAFAFA; border: 1px solid #CCCCCC; display: block; margin: 0 auto; padding: 10px; width: 600px; }
#add_address .label, #address_tables .label { color: #777777; font-size: 12px; text-align: right; padding-right: 35px; width: 100px; }
#add_address td, #address_tables td { padding: 2px 0; }
#add_address td, #address_tables td { border: none; }
#address_pagination { padding-top: 20px; }
#admin_header { padding-bottom: 40px; position: relative; }
#admin_header .title { border-bottom: 1px solid #EEEEEE; font-weight: normal; padding-bottom: 15px; text-align: center; }
#badtoken { width: 200px; }
#container { margin: 30px auto 0px auto; position: relative; width: 960px; }

#footer { font-size: 11px; padding-top: 10px; text-align: left; }
#footer a { color: #888888; }

#order_address { float: left; width: 200px; }
#order_address p { line-height: 1.2em; text-align: left; }
#order_cancelled { margin-bottom: 20px;
  -moz-border-radius:     3px; 
  -webkit-border-radius:  3px; 
  border-radius:          3px; }
#order_cancelled_title { padding-bottom: 0; }
#order_details { width: 600px; }
#order_details, #order_notes { float: left; margin: 10px 0 0 30px; }
#order_payment { border-bottom: 1px solid #DDDDDD; padding: 10px 0 15px; }
#order_shipping { padding: 25px 0 10px; }
#order_notes { width: 580px; }
#tagline { font-weight: normal; }
#tagline .subtitle { color: #888888; font-size: 14px; }
#template { text-align: center; }
.template_header { padding-bottom: 30px; }
.template_header .title { color: #6FB305; font-weight: normal; padding-bottom: 10px; }
#view_address { display: block; margin-top: 15px; }
#wrapper { background-color: #FFFFFF; border: 1px solid #CCCCCC; margin: 10px auto 0; padding: 40px 30px;
   -moz-box-shadow:    0px 2px 3px #BBBBBB;
   -webkit-box-shadow: 0px 2px 3px #BBBBBB;
   box-shadow:         0px 2px 3px #BBBBBB; }

/* clearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* @end */

/* End of Stylesheet */